<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A little about myself</h2>
                <hr class="light">
                <p class="text-faded">Experienced in Ruby on Rails and JavaScript based programming with a background in Creative Services. Possess strong skills in project management and design that helps design and production companies drive results to clients.
                </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
